<!DOCTYPE html>
<html>
	<head>
		<title>SALE STOCK</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="title" content="sale stock">
	    <meta name="description" content="Demo project">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./assets/style/style.css">
		<style type="text/css"></style>
		
	</head>
	<body ng-app="saleStockApp" ng-controller=<%= controller %>>
		<div class="root-body">
			<%- include('partials/header')%>

			<%- include(template)%>
			
		</div>

	</body>
	<script src="./lib/angular.min.js"></script>
	<script src="./lib/angular-cookies.min.js"></script>
	<script src="./lib/underscore-min.js"></script>
	<script src="./lib/jquery.min.js"></script>
	<script src="./script/app.js"></script>
	<script src="./script/service/service.js"></script>
	<script src="./script/directive/headerDirective.js"></script>

	<% script.forEach(function(file){ %>
		<script src=<%= file %>></script>
	<%})%>
	
	<script type="text/javascript"></script>
	<script>
		window.DEFAULT_PRODUCT = <%- product %>;
		// window.USER_ACCESS = <%- logon %>
	</script>
	
</html>